<app-encabezado titulo="Ver docente"></app-encabezado>

<ion-content>
  <ion-card style="margin-bottom: 135%;">
    <ion-card-header>
      <ion-card-title>Emmanuel Batún</ion-card-title>
      <ion-card-subtitle>Materia: Matemáticas</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content style="display: flex; flex-flow: column wrap;">
      <ion-label>emanuel@correo.com</ion-label>
      <ion-label>9981010201</ion-label>
      <ion-label color="primary">Activo</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" style="margin: 1em;">
    Editar
  </ion-button>
</ion-content>
